infra/modules/logic-apps.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.40.2.10011",
      "templateHash": "7945573751524516400"
    }
  },
  "parameters": {
    "solutionSuffix": {
      "type": "string",
      "metadata": {
        "description": "Required. Solution suffix used for resource naming."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Optional. Location for all resources."
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {},
      "metadata": {
        "description": "Optional. Tags to apply to all resources."
      }
    },
    "backendApiUrl": {
      "type": "string",
      "metadata": {
        "description": "Required. Backend API base URL (e.g. https://ca-backend.xxx.azurecontainerapps.io)."
      }
    },
    "approvalMcpUrl": {
      "type": "string",
      "metadata": {
        "description": "Required. Approval MCP Function App base URL."
      }
    },
    "hrTeamId": {
      "type": "string",
      "defaultValue": "00000000-0000-0000-0000-000000000001",
      "metadata": {
        "description": "Required. HR team ID for task submission."
      }
    },
    "hrMailbox": {
      "type": "string",
      "defaultValue": "justinjoy@microsoft.com",
      "metadata": {
        "description": "Optional. Email address for HR automation triggers and approvals."
      }
    },
    "approvalsMailbox": {
      "type": "string",
      "defaultValue": "justinjoy@microsoft.com",
      "metadata": {
        "description": "Optional. Email address for approval responses."
      }
    },
    "userPrincipalId": {
      "type": "string",
      "defaultValue": "justinjoy@microsoft.com",
      "metadata": {
        "description": "Required. User principal ID used for backend API authentication."
      }
    },
    "docIntelligenceEndpoint": {
      "type": "string",
      "defaultValue": "https://ai-justinjoy-4099.cognitiveservices.azure.com",
      "metadata": {
        "description": "Required. Azure Document Intelligence endpoint for OCR."
      }
    },
    "docIntelligenceKey": {
      "type": "securestring",
      "metadata": {
        "description": "Required. Azure Document Intelligence API key."
      }
    }
  },
  "variables": {
    "o365ConnectionId": "[resourceId('Microsoft.Web/connections', format('office365-{0}', parameters('solutionSuffix')))]",
    "o365ConnectionApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[format('office365-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "displayName": "[format('Office 365 - HR Automation ({0})', parameters('hrMailbox'))]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('logic-newhire-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_a_new_email_arrives": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/Mail/OnNewEmail",
                "queries": {
                  "folderPath": "Inbox",
                  "to": "[parameters('hrMailbox')]",
                  "subjectFilter": "[[NEW HIRE]",
                  "importance": "Any",
                  "includeAttachments": true
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              }
            }
          },
          "actions": {
            "Check_Has_Attachments": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['value'][0]?['hasAttachments']",
                      true
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['value'][0]?['attachments']",
                        ""
                      ]
                    }
                  }
                ]
              },
              "runAfter": {},
              "actions": {
                "OCR_Document": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[format('{0}/documentintelligence/documentModels/prebuilt-layout:analyze?api-version=2024-11-30&outputContentFormat=markdown', parameters('docIntelligenceEndpoint'))]",
                    "headers": {
                      "Ocp-Apim-Subscription-Key": "[parameters('docIntelligenceKey')]",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "base64Source": "@{triggerBody()?['value'][0]?['attachments'][0]?['contentBytes']}"
                    }
                  },
                  "runAfter": {}
                },
                "Wait_For_OCR": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{outputs('OCR_Document')['headers']['Operation-Location']}",
                    "headers": {
                      "Ocp-Apim-Subscription-Key": "[parameters('docIntelligenceKey')]"
                    }
                  },
                  "runAfter": {
                    "OCR_Document": [
                      "Succeeded"
                    ]
                  }
                },
                "Wait_10s": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 10,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {
                    "Wait_For_OCR": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_OCR_Result": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{outputs('OCR_Document')['headers']['Operation-Location']}",
                    "headers": {
                      "Ocp-Apim-Subscription-Key": "[parameters('docIntelligenceKey')]"
                    }
                  },
                  "runAfter": {
                    "Wait_10s": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_OCR_Text": {
                  "type": "Compose",
                  "inputs": "@{body('Get_OCR_Result')?['analyzeResult']?['content']}",
                  "runAfter": {
                    "Get_OCR_Result": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Set_No_Attachment_Text": {
                    "type": "Compose",
                    "inputs": "No CV/document attached.",
                    "runAfter": {}
                  }
                }
              }
            },
            "Select_HR_Team": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/select_team', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "team_id": "[parameters('hrTeamId')]"
                }
              },
              "runAfter": {
                "Check_Has_Attachments": [
                  "Succeeded"
                ]
              }
            },
            "Submit_Onboarding_Task": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/process_request', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "session_id": "@{guid()}",
                  "description": "Onboard new employee from email. Subject: @{triggerBody()?['value'][0]?['subject']}. Email body: @{triggerBody()?['value'][0]?['bodyPreview']}. Attached CV/Document (OCR): @{coalesce(outputs('Set_OCR_Text'), outputs('Set_No_Attachment_Text'))}"
                }
              },
              "runAfter": {
                "Select_HR_Team": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('o365ConnectionId')]",
                "connectionName": "[format('office365-{0}', parameters('solutionSuffix'))]",
                "id": "[variables('o365ConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', format('office365-{0}', parameters('solutionSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('logic-separation-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_a_separation_email_arrives": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/Mail/OnNewEmail",
                "queries": {
                  "folderPath": "Inbox",
                  "to": "[parameters('hrMailbox')]",
                  "subjectFilter": "[[SEPARATION]",
                  "importance": "Any"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              }
            }
          },
          "actions": {
            "Select_HR_Team": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/select_team', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "team_id": "[parameters('hrTeamId')]"
                }
              },
              "runAfter": {}
            },
            "Submit_Offboarding_Task": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/process_request', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "session_id": "@{guid()}",
                  "description": "Offboard employee from separation email. Subject: @{triggerBody()?['value'][0]?['subject']}. Email body: @{triggerBody()?['value'][0]?['bodyPreview']}"
                }
              },
              "runAfter": {
                "Select_HR_Team": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('o365ConnectionId')]",
                "connectionName": "[format('office365-{0}', parameters('solutionSuffix'))]",
                "id": "[variables('o365ConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', format('office365-{0}', parameters('solutionSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('logic-approval-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_approval_response_arrives": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/Mail/OnNewEmail",
                "queries": {
                  "folderPath": "Inbox",
                  "to": "[parameters('approvalsMailbox')]",
                  "subjectFilter": "[APPROVAL:",
                  "importance": "Any"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 2
              }
            }
          },
          "actions": {
            "Extract_Approval_ID": {
              "type": "Compose",
              "inputs": "@split(split(triggerBody()?['value'][0]?['subject'], '[APPROVAL:')[1], ']')[0]",
              "runAfter": {}
            },
            "Determine_Decision": {
              "type": "Compose",
              "inputs": "@if(contains(toLower(triggerBody()?['value'][0]?['bodyPreview']), 'approved'), 'approved', 'rejected')",
              "runAfter": {}
            },
            "Send_Decision_To_Approval_MCP": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/approval/@{{outputs(''Extract_Approval_ID'')}}/respond', parameters('approvalMcpUrl'))]",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "decision": "@outputs('Determine_Decision')",
                  "approver": "@triggerBody()?['value'][0]?['from']",
                  "comments": "@triggerBody()?['value'][0]?['bodyPreview']"
                }
              },
              "runAfter": {
                "Extract_Approval_ID": [
                  "Succeeded"
                ],
                "Determine_Decision": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('o365ConnectionId')]",
                "connectionName": "[format('office365-{0}', parameters('solutionSuffix'))]",
                "id": "[variables('o365ConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', format('office365-{0}', parameters('solutionSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('logic-reminders-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Daily_8AM_Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    8
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Select_HR_Team": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/select_team', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "team_id": "[parameters('hrTeamId')]"
                }
              },
              "runAfter": {}
            },
            "Submit_Reminder_Task": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/process_request', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "session_id": "@{guid()}",
                  "description": "Check for employees starting tomorrow. For each one: send Day 1 reminder email to the employee and their manager, verify their badge is provisioned via Facilities MCP, and confirm their workspace is ready."
                }
              },
              "runAfter": {
                "Select_HR_Team": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('logic-kt-nudge-{0}', parameters('solutionSuffix'))]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Weekly_Monday_Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": [
                    "Monday"
                  ],
                  "hours": [
                    9
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Select_HR_Team": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/select_team', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "team_id": "[parameters('hrTeamId')]"
                }
              },
              "runAfter": {}
            },
            "Submit_KT_Nudge_Task": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[format('{0}/api/v4/process_request', parameters('backendApiUrl'))]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-ms-client-principal-id": "[parameters('userPrincipalId')]"
                },
                "body": {
                  "session_id": "@{guid()}",
                  "description": "Check knowledge transfer progress for all employees currently in their notice period. If completion is below 80%, send a nudge email to the employee and their manager. If the notice period ends in less than 3 days and completion is below 50%, escalate to the HR director."
                }
              },
              "runAfter": {
                "Select_HR_Team": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "office365ConnectionResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Office 365 API Connection. Authorize this in Azure Portal > API Connections."
      },
      "value": "[resourceId('Microsoft.Web/connections', format('office365-{0}', parameters('solutionSuffix')))]"
    },
    "newHireTriggerResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the New Hire Trigger Logic App."
      },
      "value": "[resourceId('Microsoft.Logic/workflows', format('logic-newhire-{0}', parameters('solutionSuffix')))]"
    },
    "separationTriggerResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Separation Trigger Logic App."
      },
      "value": "[resourceId('Microsoft.Logic/workflows', format('logic-separation-{0}', parameters('solutionSuffix')))]"
    },
    "approvalResponseResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Approval Response Handler Logic App."
      },
      "value": "[resourceId('Microsoft.Logic/workflows', format('logic-approval-{0}', parameters('solutionSuffix')))]"
    },
    "calendarRemindersResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Calendar Reminders Logic App."
      },
      "value": "[resourceId('Microsoft.Logic/workflows', format('logic-reminders-{0}', parameters('solutionSuffix')))]"
    },
    "knowledgeTransferNudgeResourceId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the Knowledge Transfer Nudge Logic App."
      },
      "value": "[resourceId('Microsoft.Logic/workflows', format('logic-kt-nudge-{0}', parameters('solutionSuffix')))]"
    }
  }
}